<h1>Vehicles list</h1>
<p>{{count}} results found - page {{page.current}} </p>
<form method="GET">
    <input type="text" name="filter" value="{{filter}}"/>
    <button type="submit">Filter</button>
</form>

<ul class="vehicle_list">
    {{#if filtered}}
        {{#each vehicles}}
            <li>{{this.item.make}} {{this.item.model}} {{this.item.year}} <a href="/delete/{{this.item._id.$oid}}">Delete</a></li>
        {{/each}}
    {{else}}
        {{#each vehicles}}
            <li>{{this.make}} {{this.model}} {{this.year}} <a href="/delete/{{this._id.$oid}}">Delete</a></li>
        {{/each}}
    {{/if}}
</ul>

<p>{{#if back}}
        <a href="?filter={{filter}}&page={{page.previous}}">&lt;&lt; Back</a>
    {{/if}}
    &nbsp;&nbsp;&nbsp;
    {{#if forward}}
        <a href="?filter={{filter}}&page={{page.next}}">Next &gt;&gt;</a>
    {{/if}}
</p>

<h2>Add new model:</h2>
<form method="POST">
    <label for="make">Make:</label><br>
    <input type="text" name="make" placeholder="e.g. FORD" required/><br><br>
    <label for="make">Model:</label><br>
    <input type="text" name="model" placeholder="e.g. MUSTANG" required/><br><br>
    <label for="make">Year:</label><br>
    <input type="number" name="year" placeholder="e.g. 1995" required/><br><br>
    <button type="submit">Add</button><br>
</form>


